
        <div class="row">
            <div class="col-md-12">
                <div class="error-template text-center">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <div class="error-details">
                        Sorry, the page you requested could not be found.
                    </div>
                    <div class="error-actions" style="margin-top: 15px;">
                        <a href="/shop" class="btn btn-primary">
                            <span class="glyphicon glyphicon-home"></span>
                            Take Me Home
                        </a>
                        <a href="/about" class="btn btn-default">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Contact Support
                        </a>
                    </div>
                </div>
            </div>
        </div>